{% extends 'base.html' %}
{% block content %}
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {%if quizzes%}
            <h1 class="display-3">Today's Quizzes</h1>
            {% for quiz in quizzes %}
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title display-3 font-monospace">{{ quiz.remarks }}</h1>
                    <p class="card-text">Date: {{ quiz.date }}</p>
                    <p class="card-text">Duration: {{ quiz.time_duration }} minutes</p>
                    {% if session['sup'] %}
                    <a href="/question/{{quiz.id}}" class="btn btn-secondary">Add/View Questions</a>
                    <a href="/quizedit/{{quiz.id}}" class="btn btn-warning">Update</a>
                    <a href="/quizdelete/{{quiz.id}}" class="btn btn-danger">Delete</a>
                    {% else %}
                    <form action="/attempt" method="post">
                        <input type="hidden" name="quizid" value="{{quiz.id}}">
                        <button type="submit">Attempt Quiz</button>
                    </form>
                    {%endif%}
                </div>
            </div>
            {% endfor %}
            {%endif%}
            <br>
            <br>
            {%if quizupcoming%}
            <h1 class="display-3">Upcoming Quizzes</h1>
            {% for quiz in quizupcoming %}
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title display-3 font-monospace">{{ quiz.remarks }}</h1>
                    <p class="card-text">Date: {{ quiz.date }}</p>
                    <p class="card-text">Duration: {{ quiz.time_duration }} minutes</p>
                    {% if session['sup'] %}
                    <a href="/question/{{quiz.id}}" class="btn btn-secondary">Add/View Questions</a>
                    <a href="/quizedit/{{quiz.id}}" class="btn btn-warning">Update</a>
                    <a href="/quizdelete/{{quiz.id}}" class="btn btn-danger">Delete</a>
                    {%endif%}
                </div>
            </div>
            {% endfor %}
            {%endif%}
            <br>
            <br>
            {%if quizprev%}
            <h1 class="display-3">Previous Quizzes</h1>
            {% for quiz in quizprev %}
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="card-title display-3 font-monospace">{{ quiz.remarks }}</h1>
                    <p class="card-text">Date: {{ quiz.date }}</p>
                    <p class="card-text">Duration: {{ quiz.time_duration }} minutes</p>
                    {% if session['sup'] %}
                    <a href="/question/{{quiz.id}}" class="btn btn-secondary">Add/View Questions</a>
                    <a href="/quizedit/{{quiz.id}}" class="btn btn-warning">Update</a>
                    <a href="/quizdelete/{{quiz.id}}" class="btn btn-danger">Delete</a>
                    {%endif%}
                </div>
            </div>
            {% endfor %}
            {%endif%}
        </div>
        {%if session['sup']%}
        <div class="col-md-6">
            <div class="card p-4">
                <h2>Add Quiz</h2>
                <form action="/qdisplay/{{ c_id }}" method="post">
                    <div class="mb-3">
                        <label for="InputQual" class="form-label">Timeduration in minutes</label>
                        <input type="text" class="form-control" name="timed" id="InputQual" required>
                    </div>
                    <div class="mb-3">
                        <label for="InputDate" class="form-label">Date of quiz</label>
                        <input type="date" class="form-control" name="doq" id="InputDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Remarks</label>
                        <input type="text" class="form-control" name="remarks" id="exampleInputPassword1" required>
                    </div>
                    <br>
                    <button class="btn btn-primary w-100 py-2" type="submit">Add</button>
                </form>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{% endblock %}
