{% extends 'base.html' %}
{% block content %}
{%if mesa%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{mesa}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endif%}
<div class="form-signin w-100 m-auto d-flex flex-column align-items-center justify-content-center vh-100" style="max-width: 350px;">
<form action="/register" method="post">
    <img class="mb-4" src="{{ url_for('static', filename='images/1.png') }}" alt="1" width="314" height="284">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="mail" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="InputName" class="form-label">Full Name</label>
        <input type="text" class="form-control" name="fname" id="InputName" required>
    </div>
    <div class="mb-3">
        <label for="InputQual" class="form-label">Qualification</label>
        <input type="text" class="form-control" name="qual" id="InputQual" required>
    </div>
    <div class="mb-3">
        <label for="InputDate" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" name="dob" id="InputDate" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="pwd" id="exampleInputPassword1" required>
    </div>
    <br>
    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
  </form>
</div>
{% endblock %}