{% extends 'base.html' %}
{% block content %}
{%if message%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endif%}
<br>
<br>
<div class="mx-4">
      {% if subjects %}
        <div class="row">
          {% for subject in subjects %}
            <div class="col-sm-6 mb-3">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title display-3 font-monospace">{{ subject.name }}</h1>
                  <p class="card-text">{{ subject.description }}</p>
                  <table class="table">
                  {%for chapter in subject.chapters%}
                  <tr>
                    <td><em>{{ chapter.name }}</em></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="/qdisplay/{{chapter.id}}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Quizzes</a></td>
                  </tr>                
                  {%endfor%}
                </table>
                </div>
              </div>
            </div>
            {% if loop.index is divisibleby(2) and not loop.last %}
              </div><div class="row">
            {% endif %}
          {% endfor %}
        </div>
    {% endif %}
</div>

  {% endblock %}